html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 6px 0 15px -10px #222222, -6px 0 15px -10px #222222;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: #000000;
} 

a:visited {
  color: #766357;
}

a:hover {
  color: #81b3d2;
}

a:active {
  color: #b2b2b2;
}

/* Навигация */
.main-header {
  position: relative;
  margin-bottom: 0;
}

.main-header-logo {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-menu {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.navigation-menu {
  margin: 0;
  padding: 0;

  padding-right: 16px;
  padding-left: 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;
  vertical-align: middle;
}

.site-navigation-item {
  flex-basis: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Фоновая картинка и причины*/

.background-photo {
  margin-bottom: 55px;
}

.intro h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  margin-bottom: 26px;
  text-transform: uppercase;
}

.intro p {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  margin-bottom: 50px;
  text-transform: uppercase;
}

/* Причины*/

.reasons-box {
  display: flex;
}

 /*-- 1, 3 --*/

.reasons-box-cell {
  width: 400px;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 62px;
  padding-left: 45px;
  
  color: #ffffff;

  background-color: #81b3d2;
}



.reasons-box-cell h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 55px;

  font-size: 21px;
}

.reasons-box-cell-number {
  display: block;
  margin-bottom: 20px;
}

.reasons-box-cell p {
  margin: 0;
  padding: 0;
}

.reasons-box:nth-of-type(1) {
  background-color: #97967f;
  background-image: url("../img/open-range.jpg");
  background-repeat: no-repeat;
  background-position: 400px -78px;
}

.reasons-box:nth-of-type(3) {
  justify-content: flex-end;

  background-image: url("../img/devils-bridge.jpg");
  background-repeat: no-repeat;
  background-position: 0 -76px;
}

/*-- 2 --*/

.reasons-box-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons-box-item {
  width: 400px;
  padding-right: 48px;
  padding-left: 48px;
}

.reasons-box-item-title {
  margin: 0;

  font-size: 21px;
  color: #000000;
}

.reasons-box-item {
  
  padding-top: 58px;
  padding-bottom: 82px;
}

.reasons-box-item img {
  padding-bottom: 20px;
}

.reasons-box-item-title {
  display: block;
  padding-bottom: 26px;
}

.reasons-box-item-desc {
  display: block;
  margin: 0;
}

/*-- 4 --*/

.reasons-box:nth-of-type(4) {
  background-color: #eeeeee;
}

.reasons-box:nth-of-type(4) .reasons-box-item {
  padding-top: 47px;
  padding-bottom: 56px;
  padding-left: 90px;
}

.reasons-box:nth-of-type(4) .reasons-box-item-number {
  padding-bottom: 22px;
  margin: 0;
}

.reasons-box-item-number {
  display: block;
  margin-bottom: 20px;
}

/* Раздел поиска */

.search-hotels {
  padding-top: 50px;
  background-color: #ffffff;
}

.search-hotels h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotels p {
  margin: 0;
  margin-bottom: 42px;
  line-height: 24px;
}

.button-search {
  width: 568px;
  margin: 0 auto;
  padding: 30px 0;
  border: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;

  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

/* Форма поиска */

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.search-block {
  position: relative;
  z-index: 1;
  display: none;
}

.search-block-show {
  position: relative;
  z-index: 1;
  display: block;

  -webkit-animation: slideInDown;
          animation: slideInDown;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.search-block-close {
  display: none;
}


.search-form {
  position: absolute;
  bottom: 0;
  left: 50%;

  display: flex;
  flex-direction: column;
  width: 568px;
  margin: 0 auto;
  padding: 55px;

  font-weight: bold;
  line-height: 26px;
  text-align: left;

  background-color: #ffffff;
  
  transform: translate(-50%, 100%);
}

.search-item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-item:nth-of-type(3) {
  margin-bottom: 53px;
}

.search-item label {
  width: 113px;

  text-align: left;
}

.search-item:nth-of-type(3) label[for="search-children"] {
  margin-left: auto;
  padding-left: 50px;
}

.search-item input {
  padding: 0;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-item input[type="text"] {
  width: 346px;
  height: 38px;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 12px;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.search-item .input-calendar {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 21px;
  height: 22px;

  cursor: pointer;

  margin: 0;
  padding: 0;
}

.search-item .input-calendar::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
}

.input-calendar path {
  fill: #cacaca;
}

.input-calendar:hover path,
.input-calendar:focus path {
  fill: #000000;
}

.input-calendar:active path {
  fill: #81b3d2;
}

.search-item input[type="number"] {
  width: 38px;
  height: 38px;

  text-align: center;
}

.btn-search-item {
  width: 38px;
  height: 38px;

  font-weight: bold;
  font-size: 25px;
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.btn-search-item:hover,
.btn-search-item:focus {
  color: #000000;
}

.btn-search-item:active {
  color: #81b3d2;
}

.btn-search {
  padding: 16px 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #669ec0;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  height: 593px;
  margin-bottom: -118px;

  background-color: #e1e9d1;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map iframe {
  width: 100%;
  height: 100%;

  border: 0;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;

  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.9999;
}

.hashtag {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  
  margin-left: 130px;
}

.hashtag p {
  margin: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.tw::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 17px;
  height: 15px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.fb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.yt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 16px;

  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-logo {
  margin-right: 7px;
}

.academy-logo {
  margin-right: 100px;
}

.academy-logo:hover path {
  fill: #81b3d2;
}
.academy-logo:active path {
  fill: #bdbbbc;
}

/*----- Catalog ----- */

/* Форма сортировки*/

.filters-form {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-right: 72px;
  padding-bottom: 32px;
  padding-left: 72px;

  text-align: left;
  color: #ffffff;

  background-color: #688094;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -48px;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters-form legend {
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 16px;
}

.filters-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.infrastructure-item,
.property-type-item {
  margin-bottom: 25px;
}

.filters-form .property-type {
  margin-right: auto;
  margin-left: 120px;
}

.infrastructure-item:last-child,
.property-type-item:last-child {
  margin-bottom: 0;
}

.filters-form input[type="checkbox"] + label {
  position: relative;

  padding-left: 40px;

  cursor: pointer;
}

.filters-form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filters-form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filters-form input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-form input[type="checkbox"]:disabled + label {
  cursor: default;
}

.filter-range {
  box-sizing: border-box;

  text-align: left;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;

  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.min-price {
  width: 157px;
  padding-left: 64px;
}

.max-price {
  width: 157px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  line-height: 21px;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-filter {
  display: block;
  margin-left: 84px;
  padding: 6px 35px;

  font: inherit;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #000000;

  background: #ffffff;
}

/* Результаты */

.result-sort {
  display: flex;
  align-items: center;
  padding-top: 31px;
  padding-right: 72px;
  padding-bottom: 29px;
  padding-left: 72px;
}

.result-sort-find {
  margin: 0;
  margin-right: 48px;

  font-size: 21px;
  line-height: 26px;
}

.result-sort-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.result-sort-menu li:first-child {
  margin-right: 40px;
}

.result-sort-menu li {
  margin-right: 33px;
}

.result-sort-menu a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.result-sort-item-flow a {
  color: #81b3d2;

  border-bottom: none;
}

.result-sort-menu a:hover,
.result-sort-menu a:focus {
  color: #81b3d2;
}

.result-sort-menu a:active {
  color: #000000;

  border-bottom: none;
}

.result-sort-control {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

/* Стрелочки */

.arrow-up, .arrow-down {
  width: 0;
  height: 0;
  margin-right: 14px;

  border: 5px solid transparent;
  border-top-width: 0;
  border-bottom-width: 10px;
  border-bottom-color: #cacaca;
  cursor: pointer;
}

.arrow-down {
  margin-right: 0;

  border-bottom-color: #81b3d2;
  
  transform: rotate(180deg);
}

.arrow-up:hover, .arrow-down:hover {
  border-bottom-color: #231f20;
}

.arrow-up:active, .arrow-down:active {
  border-bottom-color: #81b3d2;
}

/* Список отелей*/

.hotel-catalog {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.hotel-item {
  display: flex;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;

  border-top: 1px solid #e5e5e5;
}

.hotel-item:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.picture-hotel {
  align-self: flex-start;
  margin: 0;
  margin-right: 30px;
  
  line-height: 0;
}

.name-hotel {
  text-align: left;
}

.name-hotel h2 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 21px;
  line-height: 26px;
}

.info-hotel-text {
  display: flex;
  justify-content: space-between;
  width: 259px;
  margin-bottom: 13px;
}

.info-hotel-text span:first-child {
  width: 145px;
}

.info-hotel-text span:last-child {
  width: 142px;
}

.info-hotel-btns {
  display: flex;
}

a.info-hotel-button {
  
  padding: 3px 17px;

  font-weight: bold;
  vertical-align: bottom;
  text-align: center;
  color: #ffffff;
}

a.read-more {
  margin-right: 6px;

  background-color: #81b3d2;
}

a.read-more:hover {
  background-color: #669ec0;
}

a.read-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

a.book {
  background-color: #766357;
}

a.book:hover {
  background-color: #604e43;
}

a.book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  
  text-align: right;
}

.rating-stars{
  align-self: flex-end;
  height: 17px;

  background-image: url("../img/star.svg");
  background-size: 24px 17px;
}

.stars-four {
  width: 93px;
}

.stars-three {
  width: 70px;
}

.stars-two {
  width: 46px;
}

.rating-value {
  width: 110px;
  height: 27px;
  padding: 1px 0;

  vertical-align: middle;
  text-align: center;

  background-color: #f2f2f2;
}
