html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: #000000;
} 

a:visited {
  color: #766357;
}

a:hover {
  color: #81b3d2;
}

a:active {
  color: #b2b2b2;
}

/* Навигация */
.main-header {
  position: relative;
  margin-bottom: 0;
}

.main-header-logo {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-menu {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.navigation-menu {
  margin: 0;
  padding: 0;

  padding-right: 16px;
  padding-left: 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;
  vertical-align: middle;
}

.site-navigation-item {
  flex-basis: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Фоновая картинка и причины*/

.background-photo {
  margin-bottom: 50px;
}

.intro h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  margin-bottom: 26px;
  text-transform: uppercase;
}

.intro p {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  margin-bottom: 50px;
  text-transform: uppercase;
}

/* Причины*/

.reasons-box {
  display: flex;
}

 /*-- 1, 3 --*/

.reasons-box-cell {
  width: 400px;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 0;
  padding-left: 45px;

  color: #ffffff;

  background-color: #81b3d2;
}

.reasons-box-cell h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 55px;

  font-size: 21px;
}

.reasons-box-cell-number {
  display: block;
  margin-bottom: 20px;
}

.reasons-box-cell p {
  margin: 0;
  padding: 0;
}

/*-- 2 --*/

.reasons-box-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons-box-item {
  width: 400px;
  padding-right: 48px;
  padding-left: 48px;
}

.reasons-box-item-title {
  margin: 0;

  font-size: 21px;
  color: #000000;
}

.reasons-box-item {
  
  padding-top: 58px;
  padding-bottom: 82px;
}

.reasons-box-item img {
  padding-bottom: 20px;
}

.reasons-box-item-title {
  display: block;
  padding-bottom: 26px;
}

.reasons-box-item-desc {
  display: block;
  margin: 0;
}

/*-- 4 --*/

.reasons-box:nth-of-type(4) {
  background-color: #eeeeee;
}

.reasons-box:nth-of-type(4) .reasons-box-item {
  padding-top: 47px;
  padding-bottom: 60px;
}

.reasons-box:nth-of-type(4) .reasons-box-item-number {
  padding-bottom: 26px;
  margin: 0;
}

.reasons-box-item-number {
  display: block;
  margin-bottom: 20px;
}

/* Поиск форма */

.search-hotels {
  padding-top: 50px;
  background-color: #ffffff;
}

.search-hotels h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotels p {
  margin: 0;
  margin-bottom: 47px;
  line-height: 24px;
}

.ordering p {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

  form {
  
  flex-direction: column;
  width: 568px;
  margin: 0 auto;
  padding: 55px;

  font-weight: bold;
  line-height: 26px;
  text-align: left;

  background-color: #ffffff;
  }

.check-block {
  display: flex;

  align-items: center;
  margin-bottom: 30px;
}

.departure-block {
  display: flex;

  margin-bottom: 30px;
}

.check-block input {
  padding: 0;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.departure-block input {
  padding: 0;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

form input[type="text"] {
  width: 346px;
  height: 38px;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 12px;
}


/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  margin-left: 130px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.social-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-logo {
  margin-right: 7px;
}

.academy-logo {
  margin-right: 100px;
}

.academy-logo:hover path {
  fill: #81b3d2;
}
.academy-logo:active path {
  fill: #bdbbbc;
}